/* nord dark mode */

body {
	margin: 0;
	padding: 0;
	color: #d8dee9;
	background-color: #2e3440;
	/* review / blog post */
	font-family: serif;
	font-size: 1.2em;
}

a {
	color: #81a1c1;
	text-decoration: none;
}

/* flesh out a variations */

a:visited {
	color: #5e81ac;
}

a:active {
	color: #88c0d0;
}
