/* nord dark mode */

body {
	max-width: 800px;
	margin: 4em auto;
	padding: 0 2ch;
	color: #d8dee9;
	background-color: #2e3440;
	font-family: serif;
	font-size: 1.2em;
}

a {
	color: #81a1c1;
	text-decoration: none;
}

a:visited {
	color: #5e81ac;
}

a:active {
	color: #88c0d0;
}
